body {
    margin: 1rem;
    background-color: #333;
    color: white;
}

.sheet {

}

.sheet .section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sheet .section .bar {
}

.sheet .section .bar .hover:hover {
    fill: rgba(173, 216, 230, 0.5);
    cursor: pointer;
}
